<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room App</title>
</head>
<body>
    <h1>Room App</h1>
    <button id="enter-room">Enter Room</button>
    <div id="messages"></div>

    <script>

        document.getElementById('enter-room').addEventListener('click', () => {
            fetch(`http://127.0.0.1:8000/api/v1/1/addproject/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
              .then(data => console.log(data));
        });

        const ws = new WebSocket(`ws://${window.location.host}/room/lesson1/`);

        ws.onmessage = function(event) {
            const data = JSON.parse(event.data);
            const messages = document.getElementById('messages');
            const message = document.createElement('div');
            message.textContent = data.message;
            messages.appendChild(message);
        };
    </script>
</body>
</html>